main {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    display: flex;
}

.contact {
    display: flex;
    flex-direction: column;
    /* border: solid red 3px; */
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.contact__title {
    font-size: var(--step-5);
    text-align: center;
    border-bottom: 3px gray solid;
    border-top: 3px solid gray;
    padding: 2rem 0;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 6px;
    text-shadow: 2px 2px 10px;
    margin-bottom: 4rem;
}


.contact__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 6rem;

}

.contact__column {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    gap: 1rem;
}

.contact__info-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: lime 2px solid; */
}


.contact__info-item__title {
    font-size: var(--step-2);
    font-weight: 700;
    text-transform: uppercase;
}

.contact__info-item__sub-title {
    font-weight: 500;
    font-size: var(--step-1);
    width: 100%;
    max-width: none;
    font-style: italic;
}

.contact__info-item__text {
    max-width: none;
    text-align: justify;
    font-size: var(--step-0);
    font-weight: 400;
}

.contact__email-item {
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__email-item__title {
    font-size: var(--step-2);
    font-weight: 500;
    text-decoration-line: underline;
}


.send-mail {
    display: inline-flex;
    font-size: var(--step-0);
    gap: .2rem;
    height: 2em;
    align-items: center;
}



.link-img {
    object-fit: contain;
    height: 100%;
}

.text-link {

    font-size: inherit;
    font-weight: 400;

}

.send-mail:hover>.text-link {
    color: var(--font-primary-color);
    font-weight: 700;

}

.contact__social-media-item {
    display: flex;
    flex-direction: column;
    /* border: solid salmon 2px; */
    gap: 2rem;
}

.social-media__title {
    text-transform: capitalize;
    text-decoration-line: underline;
    font-size: var(--step-2);
    font-weight: 500;
}

.social-media__super-img {
    /* --circle-diameter: 300px; */

    align-self: center;
    /* border: purple solid 2px; */
    border-radius: 50%;
    height: var(--circle-diameter);
    width: var(--circle-diameter);
    background: linear-gradient(to bottom, #5d5748, #b9682a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-origin: center;
}


.brand-logo {
    height: 60%;
    width: 60%;


}

.social-media-img {
    --center: 75%;
    --radius: calc(var(--circle-diameter) / 2);
    height: calc(var(--circle-diameter)/8);
    width: calc(var(--circle-diameter)/8);
    position: absolute;
    /* border: 1px solid lime; */
    border-radius: 50%;
    overflow: hidden;


}



.twitter-logo {
    --position-x: calc((var(--radius)*cos(90deg)));
    --position-y: calc((var(--radius)*sin(90deg)*-1) + var(--center));

    transform: translate(var(--position-x), var(--position-y));

}

.whatsapp-logo {
    --position-x: calc((var(--radius)*cos(162deg) + var(--center)));
    --position-y: calc((var(--radius)*sin(162deg)*-1 + calc(var(--center) / 2)));


    transform: translate(var(--position-x), var(--position-y));
}

.instagram-logo {
    --position-x: calc((var(--radius)*cos(18deg) - var(--center)));
    --position-y: calc((var(--radius)*sin(18deg)*-1 + calc(var(--center) / 2)));


    transform: translate(var(--position-x), var(--position-y));
}

.telegram-logo {
    --position-x: calc((var(--radius)*cos(234deg)) + calc(var(--center) / 2));
    --position-y: calc((var(--radius)*sin(234deg) * -1 - var(--center)));


    transform: translate(var(--position-x), var(--position-y));
}

.facebook-logo {
    --position-x: calc((var(--radius)*cos(306deg)) - calc(var(--center) / 2));
    --position-y: calc((var(--radius)*sin(306deg) *-1) - var(--center));


    transform: translate(var(--position-x), var(--position-y));
}



.contact {
    gap: 1rem;
    /* border: solid 2px yellow; */

    --contact-font-color: rgb(192, 10, 10);
    --contact-background-color: rgba(192, 10, 10, 0.2);
    font-size: var(--step-0);
}

.contact>label {
    display: none;
}

.contact>input {
    padding: .5rem;

    border: 2px solid var(--contact-font-color);
    background-color: var(--contact-background-color);
    font-weight: 700;
    border-radius: 4px;

}

.contact>select {
    padding: .5rem;
    border-radius: 4px;
    border-color: var(--font-primary-color);
    color: var(--font-primary-color);
    font-weight: 700;
}

.contact>textarea {
    padding: .5rem;

    border: 2px solid var(--contact-font-color);
    background-color: var(--contact-background-color);
    font-weight: 700;
    border-radius: 4px;
    height: 100%;

}

::-webkit-input-placeholder {
    color: rgb(201, 0, 0);
}

.conditions-check {
    display: flex;
    width: fit-content;
    gap: .5rem;
}

.conditions-check__text {
    font-size: var(--step-0);
    font-weight: 900;
}

.conditions-check__text>span {
    color: darkblue;

}



.submit-button {

    padding: .3em;
    border: none;
    background-color: var(--font-primary-color);
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
    font-size: var(--step-1);
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

footer {
    margin-top: 5rem;

}


@media screen and (width <=768px) {


    .contact__container {
        --circle-diameter: 200px;
        flex-direction: column;

    }

    .contact__column {
        max-width: 100%;

    }

    textarea#message {
        min-height: 200px;

    }



}