main {
    max-width: 1920px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-section {
    /* border: 2px solid lime; */
    background-color: var(--clr-background);
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

}

.bottom-section {
    display: flex;
    flex-direction: row;
    /* border: black solid 2px; */
    width: 100%;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}



.bottom-section__text-container {
    /* border: 2px lime solid; */
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(900px/2);
}

.bottom-section__text-container>* {
    margin-left: 1rem;
    margin-right: 1rem;

}

.bottom-section__title {
    font-size: var(--step-2);
    color: var(--font-primary-color);
    font-weight: 800;
    margin-top: 1rem;

}

.bottom-section__sub-title {

    font-size: var(--step-1);
    font-weight: 500;
    color: light-dark(black, white);
}

.bottom-section__text {
    font-size: var(--step--1);
    line-height: 22px;
}

.bottom-section__button {
    display: flex;
    max-width: fit-content;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    align-self: flex-end;
    background-color: light-dark(black, white);
    color: light-dark(white, black);
    border: none;
    margin-bottom: 1rem;
    margin-left: 0;

}

.bottom-section__button:hover {
    background-color: var(--font-primary-color);
    color: white;
    border: solid 2px white;
}



.bottom-section__gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* border: red solid 2px; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(880px);
    margin: 0 auto;
}

.bottom-section__gallery>img {

    width: calc(100%/3);
    height: auto;
    object-fit: contain;
}








.top-section:hover>.slide-item {
    animation-play-state: paused;

}



@media screen and (width<=768px) {

    .bottom-section__gallery {
        flex-wrap: wrap;
        flex-basis: 320px;
        gap: 1rem;

    }


    .bottom-section__gallery>img {
        flex-basis: 300px;
        margin: 0 0;
        max-width: 320px;
    }

    .bottom-section__gallery:first-child {
        margin-left: 1rem;

    }

    .bottom-section__gallery:last-child {
        margin-right: 0rem;
    }

}