<footer>
    <div class="footer-section">
        <h4>Compañía</h4>
        <a href="#">Nosotros</a>
        <a href="#">Nuestros Servicios</a>
        <a href="#">Política Privacidad</a>
        <a href="">Afíliate</a>
    </div>
    <div class="footer-section">
        <h4>Ayuda</h4>
        <a href="#">Preguntas</a>
        <a href="#">Compras</a>
        <a href="#">Envíos</a>
        <a href="">Afíliate</a>
        <a href="">Pago</a>
    </div>
    <div class="footer-section">
        <h4>Tienda</h4>
        <a href="#">Ropa</a>
        <a href="#">Zapatos</a>
        <a href="#">Teléfonos</a>
        <a href="">Pantallas</a>
    </div>
    <div class="footer-section">
        <h4>Síguenos</h4>
        <div class="icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>