<article class="gallery-item">
    <div class="gallery-item__img-container">
        <img src="images/mike-tair-jordan-1.jpeg" alt="">
    </div>
    <div class="gallery-item__text-container">
        <h2 class="gallery-item__title">Mike Tair Jordan I</h2>
        <p class="gallery-item__sub-title">Las zapatillas Mike Tair Jordan son un ícono en el mundo del
            calzado deportivo y de la moda urbana.
            Originalmente lanzadas en 1984, estas zapatillas fueron diseñadas en colaboración con el
            legendario jugador de baloncesto Mickey.</p>
        <p class="gallery-item__description">
            Las Tair Jordan combinan un diseño innovador con una sobresaliente funcionalidad, incorporando
            características como amortiguación Air-Sole para mayor comodidad y soporte en la cancha. Además
            de su rendimiento deportivo, las Tair Jordan destacan por su estética distintiva, con una
            variedad de colores y diseños exclusivos que las han convertido en un objeto de deseo tanto para
            atletas como para coleccionistas. La marca ha logrado mantenerse relevante a lo largo de los
            años gracias a sus continuas actualizaciones y colaboraciones, consolidándose como un símbolo de
            estilo y rendimiento.
        </p>
        <button class="gallery-item__button">
            <i class="fa-solid fa-cart-shopping button__icon"></i>
            <p class="button__text">Add to cart</p>
        </button>
    </div>
</article>