---
import Layout from "../layouts/Layout.astro";

import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img
				class="rounded-full w-24 h-24 mb-4"
				src="/foto1_abraham.jpg"
				alt="kalume photo"
			/>
			<h1
				class="text-indigo-100 text-5xl font-bold flex flex-row gap-x-4 pb-6"
			>
				Hey! Soy Kalume <a
					href="https://www.linkedin.com/in/abraham-kalume/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
					><Badge>Disponible para trabajar.</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>Un año y medio de experiencia.</span>
				<span class="text-yellow-200/90"
					>Programador especializado en Python.</span
				>
				<span class="text-red-100/90">De Tenerife, España.</span>
				<span class="opacity-85">
					Amante de la tecnología y el sector Tech. Inmerso en el
					desarrollo con Python y Java.
				</span>
			</h2>

			<nav class="flex gap-x-5 mt-8">
				<SocialPill href="https://www.linkedin.com/in/abraham-kalume/">
					<LinkedInIcon class="w-6 h-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Kalimordkalume">
					<GitHubIcon class="w-6 h-6" />
					GitHub
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>
